# JS ignores
js-script/node_modules/
js-script/.env
ERRORS.txt

# Python ignores
*.pyc
__pycache__/
py-script/dist
py-script/build
py-script/*.exe
py-script/*.spec

# Electron Ignores

electron.app/Game-Clipper-App



# Ignore other files and directories
*.log
*~
*.swp
.DS_Store
notes.txt
*.exe