.settings-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.save-button {
  position: relative;
  bottom: 20px;
  left: 50%;
  top: 10%;
  transform: translateX(-50%);
}
.options-container {
  height: 35px;
}
.directory-settings {
  background-color: red;
}
