.settings-div {
  width: 40px;
  height: 40px;
  max-width: 40px;
  max-height: 40px;
}
.alert-box {
  position: fixed;
  width: 60%;
  right: 10px;
  bottom: 10px;
}
.recording-options-container {
  width: 500px;
  display: flex;
  position: fixed;
  align-items: center;
  padding: 10px;
  gap: 20px;
  top: 70px;
  right: 10px;
}
